apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helm-prod
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: helm

  source:
    repoURL: https://github.com/nakamasato/kubernetes-training.git
    targetRevision: helm-vs-kustomize
    path: helm-vs-kustomize/helm-example/helm-example
    helm:
      releaseName: helm-prod
      parameters:
        - name: "controller.admissionWebhooks.enable"
          value: "false"
      valueFiles:
        - values-prod.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: helm-prod

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
