apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: kustomize-example
  name: kustomize-example
spec:
  ports:
  - name: 80-80
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: kustomize-example
  type: NodePort
status:
  loadBalancer: {}
