name: conftest

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - "**.md"
      - "**.svg"
      - ".github/**"
      - "!.github/workflows/k8s-diff.yaml"

jobs:
  conftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install conftest
        run: |
          wget https://github.com/open-policy-agent/conftest/releases/download/v0.24.0/conftest_0.24.0_Linux_x86_64.tar.gz
          tar xzf conftest_0.24.0_Linux_x86_64.tar.gz
          sudo mv conftest /usr/local/bin
      - name: conftest
        working-directory: open-policy-agent/conftest
        run: |
          conftest test manifests/valid/deployment.yaml
