name: conftest

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

    paths-ignore:
      - "**.md"
      - "**.svg"
      - ".github/**"
      - "!.github/workflows/conftest.yaml"

jobs:
  conftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: install conftest
        run: |
          wget https://github.com/open-policy-agent/conftest/releases/download/v0.24.0/conftest_0.24.0_Linux_x86_64.tar.gz
          tar xzf conftest_0.24.0_Linux_x86_64.tar.gz
          sudo mv conftest /usr/local/bin
      - name: conftest
        working-directory: contents/open-policy-agent
        run: |
          conftest test conftest/manifests/valid/* --policy conftest/policy
