name: github-pages

on:
  push:
    branches:
      - main
  pull_request: # You can deploy for pull_request with deploy-gh-pages label
    types:
      - labeled
      - opened
      - synchronize
      - reopened

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' || contains( github.event.pull_request.labels.*.name, 'deploy-gh-pages') }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-python@v6
        with:
          python-version: 'pypy3.9'
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
